html{
    scroll-behavior: smooth;
}
section{
    height: 73vh;
}
.subtitle-container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--lighter-blue);
    padding: 0.5%;
}
.filter{
    display: flex;
    align-items: center;
    height: 80%;
    width: 15%;
    gap: 2%;
    /* background-color: #E5B657; */
}
.search-button{
    background-color: #3347B0;
    height: 100%;
    width: 20%;
}
.search-button img{
    height: 100%;
    width: 30%;
}
.legenda-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 15%;
}
.legenda-container p{
    color: #3347B0;
}
.yellow-container{
    display: flex;
    width: 25%;
    gap: 5%;
}
.yellow-square{
    height: 75%;
    width: 20%;
    background-color: #E5B657;
    color: #E5B657;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.blue-container{
    display: flex;
    width: 27%;
    gap: 5%;
}
.blue-square{
    height: 75%;
    width: 20%;
    background-color: #3347B0;
    color: #3347B0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
#select-status{
    background-color: var(--primary-blue);
    border-radius: 5px;
    border-style: hidden;
    color: white;
    height: 80%;
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
}
.nome-container{
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nome-container h2{
    font-size: 4rem;
    color: var(--primary-blue);
}
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    width: 100vw;
    height: 100%;
    max-height: 100vh;
    padding-top: 3%;
}
.card-aluno{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3347B0;
    width: 10%;
    height: 35%;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
}
.card-aluno img{
    height: 75%;
}
.card-aluno p{
    font-size: 1rem;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.concluido{
    background-color: #E5B657;
}